<table>

	<tr>
		<% for i in 0..5 %>
			<th><%= @category[i].text %></th>
		<% end %>
	</tr>

	<% score = 100 %>
	<% for i in 0..4 %>

		<tr>

			<% for j in 0..5 %>
				<td id="question<%= @category[j].questions[i].id %>">$<%= score.to_s %></td>
			<% end %>

		</tr>

	<% score += 100 %>
	<% end %>

</table>

<span>Pregunta Final</span>

<div id="theSpace">
	<div>
		<div id="theX"><span></span></div>
		<div id="theQuestion"><div>
			<p></p>
			<span id="showAnswer">Show Answer</span>
		</div></div>
		<div id="theAnswer"><div>
			<p></p>
		</div></div>
	</div>
</div>

